@font-face {
   font-family: 'Roboto';
   src: url('../../assets/fonts/Roboto-Regular.ttf');
}

*{
    font-family: 'Roboto', 'PT Sans Narrow', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-direction: column;
    
    width: 100%;
    min-height: 100vh;
    // background-color: rgb(36, 34, 34);

}