.colaboration-zero{
        margin: 40px auto;
        width: 90%;
        display: flex;
        flex-direction: column;
    
        h1{
            font-weight: normal;
            font-size: 24px;
            line-height: 36px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.02em;
            color: $dark;
    
            margin-bottom: 15px;
        }

        h2{
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.02em;

            /* dark del primario */

            color: #236348;

            margin-bottom: 10px;
        }

        p{
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            letter-spacing: 0.02em;

            color: rgba(38, 38, 38, 0.7);
            margin-bottom: 40px;
        }

        div{
            width: 100%;
            background: rgba(128, 174, 9, 0.11);
            box-shadow: 0px 4px 6px rgba(128, 174, 9, 0.15);
            border-radius: 25px;
            padding: 15px 18px;
            display: flex;
            align-items: center;
            flex-direction: column;

            span{
                display: block;
                width: 100%;
                text-align: right;
                // background: red;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;

                color: #000000;

            }

            h3{
                display: block;
                width: 100%;
                font-weight: bold;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: 0.02em;
                margin: 10px 0;
                color: #000000;
            }

            p{
                margin: 0;
                width: 100%;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                letter-spacing: 0.02em;
                
                color: rgba(38, 38, 38, 0.7);
            }
        }

        button{
            border: none;
            box-sizing: border-box;
            border-radius: 20px;
            background: $acento;
            font-weight: bold;
            color: white;
            font-size: 16px;
            height: 48px;
            margin-top: 22px;
            margin-bottom: 48px;
        }
}