.myplan {
    img {
        width: 100%;
    }

}

.fake {
    
    position: absolute;
    top:385px;
    left: 94px;
    width: 260px;
    height: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    
}

.falso{
    
    position: absolute;
    top:630px;
    left: 40px;
    width: 250px;
    height: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    
}

.atras {
    position: absolute;
    top: 48px;
    left: 318px;
    width: 50px;
    height: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}