.compensate{
    margin: auto;
    margin-top: 40px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1{
        margin: auto;
        width: 90%;
        color: $dark;
        font-family: Poppins;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */

        letter-spacing: 0.02em;
        margin-bottom: 5px;
    }

    p{
        margin: auto;
        width: 90%;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;

        color: rgba(38, 38, 38, 0.7);
        margin-bottom: 36px;
    }

    .conteiner-plan{
        width: 100%;
        background: #EAF1D6;
        box-shadow: 0px 4px 6px rgba(128, 174, 9, 0.15);
        border-radius: 25px;
        margin-bottom: 75px;

        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        padding: 15px 18px;

        &:last-child{
            margin-bottom: 100px;
        }

        img{
            display: block;
        }

        h2{
            margin: auto;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0.02em;
            
            color: $dark;
            margin: auto;
            margin-top: 20px;
            display: block;
            width: 100%;
            // width: 90%;
        }

        p{
            width: 100%;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.02em;

            color: rgba(38, 38, 38, 0.7);
        }

        button{
            border: none;
            background: $acento;
            border-radius: 20px;
            height: 48px;
            color: white;
            font-weight: bold;
            width: 100%;
            font-size: 16px;
        }
    }
}