.nav-bar {
    height: 60px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 1px 0px 6px rgba(130, 130, 130, 0.25);
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    position: fixed;
    left: 0;
    bottom: 0;
    
    
    & > ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        > li{
            margin-top: 10px;
            list-style: none;

            > a {
                text-decoration: none;
                font-size: 20px;
            }
        }
    }
}