.premium-plan{
    display:flex;
    flex-direction: column;
    margin: 10px;
    background-color: burlywood;
    height: 80vh;
    justify-content: space-evenly;

    .plan-info{
        background-color: cadetblue;
        padding-left: 10px;
    }

    .plan-proyects{
        background-color: gray;
        height: 200px;
        margin: 8px;
    }

    .plan-actions{
        background-color:rgb(160, 160, 247);
        height: 200px;
        margin: 8px;
    }

    button{
        height: 40px;
        margin:8px;
    }
}